## Read files

In [2]:
import cudf as gd

In [3]:
path = '/rapids/notebooks/srabhi/champs-2019/input/csv/'

In [4]:
%%time
train = gd.read_csv('%s/train.csv'%path)
test = gd.read_csv('%s/test.csv'%path)
print(train.shape,test.shape)
for col in train.columns:
    if train[col].dtype!='O':
        train[col] = train[col].astype('float32')
        if col in test.columns:
            test[col] = test[col].astype('float32')
struct = gd.read_csv('%s/structures.csv'%path)
struct.head().to_pandas()
for col in struct.columns:
    if struct[col].dtype!='O':
        struct[col] = struct[col].astype('float32')
print(struct.shape)

(4658147, 6) (2505542, 5)
(2358657, 6)
CPU times: user 1.05 s, sys: 1.04 s, total: 2.08 s
Wall time: 4.3 s

In [5]:
contribs = gd.read_csv('%s/scalar_coupling_contributions.csv'%path)

In [6]:
contribs.head().to_pandas()

,molecule_name,atom_index_0,atom_index_1,type,fc,sd,pso,dso
0,dsgdb9nsd_000001,1,0,1JHC,83.0224,0.254579,1.25862,0.272010
1,dsgdb9nsd_000001,1,2,2JHH,-11.0347,0.352978,2.85839,-3.433600
2,dsgdb9nsd_000001,1,3,2JHH,-11.0325,0.352944,2.85852,-3.433870
3,dsgdb9nsd_000001,1,4,2JHH,-11.0319,0.352934,2.85855,-3.433930
4,dsgdb9nsd_000001,2,0,1JHC,83.0222,0.254585,1.25861,0.272013

In [7]:
train.head().to_pandas()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0.0,dsgdb9nsd_000001,1.0,0.0,1JHC,84.807602
1,1.0,dsgdb9nsd_000001,1.0,2.0,2JHH,-11.257000
2,2.0,dsgdb9nsd_000001,1.0,3.0,2JHH,-11.254800
3,3.0,dsgdb9nsd_000001,1.0,4.0,2JHH,-11.254300
4,4.0,dsgdb9nsd_000001,2.0,0.0,1JHC,84.807404

In [8]:
struct.head().to_pandas()

      molecule_name  atom_index atom         x         y         z
0  dsgdb9nsd_000001         0.0    C -0.012698  1.085804  0.008001
1  dsgdb9nsd_000001         1.0    H  0.002150 -0.006031  0.001976
2  dsgdb9nsd_000001         2.0    H  1.011731  1.463751  0.000277
3  dsgdb9nsd_000001         3.0    H -0.540815  1.447527 -0.876644
4  dsgdb9nsd_000001         4.0    H -0.523814  1.437933  0.906397

In [14]:
struct.atom.unique().to_pandas()

0    C
1    F
2    H
3    N
4    O
Name: atom, dtype: object

In [9]:
molecule_info = struct[struct.molecule_name=='dsgdb9nsd_000001']

In [10]:
mol_pandas = molecule_info.to_pandas()
atoms =  mol_pandas.atom.values.tolist()
xyz = mol_pandas[['x','y','z']].values

In [11]:
xyz

array([[-1.2698136e-02,  1.0858041e+00,  8.0009960e-03],
       [ 2.1504159e-03, -6.0313176e-03,  1.9761203e-03],
       [ 1.0117308e+00,  1.4637512e+00,  2.7657481e-04],
       [-5.4081506e-01,  1.4475266e+00, -8.7664372e-01],
       [-5.2381361e-01,  1.4379326e+00,  9.0639728e-01]], dtype=float32)

## Build molecule dataframe :
- molecule_name, num_nodes, node_dim, atom_index, symbol, acceptor, donor, aromatic, hybridization, num_h, atomic

In [11]:
structure_pandas = struct.to_pandas()

In [12]:
from atom_features import * 
import os
import pandas as pd 
def get_nodes_info(mol_id): 

    molecule_structure = gb.get_group(mol_id)
    molecule_structure = molecule_structure.sort_values(['atom_index'], ascending=True)
    atoms =  molecule_structure.atom.values.tolist()
    xyz = molecule_structure[['x','y','z']].values
    molecule_rep = mol_from_axyz(atoms, xyz)
    
    #--- Get Atoms information from molecule representation
    
    factory = ChemicalFeatures.BuildFeatureFactory(os.path.join(RDConfig.RDDataDir, 'BaseFeatures.fdef'))
    feature = factory.GetFeaturesForMol(molecule_rep)
    num_nodes = molecule_rep.GetNumAtoms()
    #--- Get Atoms' features 
    feature_list = []
    for i in range(num_nodes):
        atom = molecule_rep.GetAtomWithIdx(i)
        feature_list.append([mol_id, num_nodes, i, atom.GetSymbol(), atom.GetIsAromatic(), atom.GetHybridization(),
                             atom.GetTotalNumHs(), atom.GetAtomicNum()])
    
    # Get Acceptor / Donor flags 
    donor = np.zeros(num_nodes)
    acceptor = np.zeros(num_nodes)
    for t in range(0, len(feature)):
        if feature[t].GetFamily() == 'Donor':
            for i in feature[t].GetAtomIds():
                donor[i] = 1
        elif feature[t].GetFamily() == 'Acceptor':
            for i in feature[t].GetAtomIds():
                acceptor[i] = 1  
                
    arr = np.concatenate([np.array(feature_list).reshape(-1, 8), donor.reshape(-1, 1), acceptor.reshape(-1, 1)], axis=1)
    
    return pd.DataFrame(arr, columns=['molecule_name', 'num_nodes', 'atom_index', 'symbol',
                                      'aromatic', 'hybridization', 'num_h', 
                                      'atomic', 'acceptor', 'donor'])

In [13]:
%%time
gb = structure_pandas.groupby('molecule_name')

CPU times: user 68 ms, sys: 92 ms, total: 160 ms
Wall time: 159 ms

In [14]:
molecules = structure_pandas.molecule_name.unique()
get_nodes_info(molecules[1])

,molecule_name,num_nodes,atom_index,symbol,aromatic,hybridization,num_h,atomic,acceptor,donor
0,dsgdb9nsd_000002,4,0,N,False,SP3,0,7,1.0,0.0
1,dsgdb9nsd_000002,4,1,H,False,S,0,1,0.0,0.0
2,dsgdb9nsd_000002,4,2,H,False,S,0,1,0.0,0.0
3,dsgdb9nsd_000002,4,3,H,False,S,0,1,0.0,0.0

In [15]:
from parallel_process import parallel_process
nodes_info_frames = parallel_process(molecules, get_nodes_info)

100%|██████████| 131k/131k [02:07<00:00, 1.03kit/s]
130772it [00:00, 330467.77it/s]

In [17]:
nodes_baseline = pd.concat(nodes_info_frames)

In [18]:
nodes_baseline.head(4)

,molecule_name,num_nodes,atom_index,symbol,aromatic,hybridization,num_h,atomic,acceptor,donor
0,dsgdb9nsd_000001,5,0,C,False,SP3,0,6,0.0,0.0
1,dsgdb9nsd_000001,5,1,H,False,S,0,1,0.0,0.0
2,dsgdb9nsd_000001,5,2,H,False,S,0,1,0.0,0.0
3,dsgdb9nsd_000001,5,3,H,False,S,0,1,0.0,0.0

In [ ]:
node_frame.to_csv('/rapids/notebooks/srabhi/champs-2019/input/parquet/baseline_node_frame_2.csv', index=False)