Copyright (c) 2020, NVIDIA CORPORATION.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

In [1]:
import os, time
os.environ["CUDA_VISIBLE_DEVICES"]="0"
start = time.time()

In [2]:
import pandas as pd, numpy as np, gc
from datetime import datetime
import joblib

import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
#import cudf, cupy
#cudf.__version__

In [3]:
from numba import jit, njit, prange
from sklearn.metrics import precision_recall_curve, auc, log_loss

def compute_prauc(gt, pred, nafill=True):
    if nafill:
        pred[ np.isnan(pred) ] = np.nanmean( pred )
    prec, recall, thresh = precision_recall_curve(gt, pred)
    prauc = auc(recall, prec)
    return prauc

@jit
def fast_auc(y_true, y_prob):
    y_true = np.asarray(y_true)
    y_true = y_true[np.argsort(y_prob)]
    nfalse = 0
    auc = 0
    n = len(y_true)
    for i in range(n):
        y_i = y_true[i]
        nfalse += (1 - y_i)
        auc += y_i * nfalse
    auc /= (nfalse * (n - nfalse))
    return auc

@njit
def numba_log_loss(y,x):
    n = x.shape[0]
    ll = 0.
    for i in prange(n):
        if y[i]<=0.:
            ll += np.log(1-x[i] + 1e-15 )
        else:
            ll += np.log(x[i] + 1e-15)
    return -ll / n

def compute_rce(gt , pred, nafill=True, verbose=0):
    if nafill:
        pred[ np.isnan(pred) ] = np.nanmean( pred )
        
    cross_entropy = numba_log_loss( gt, pred  )
    
    yt = np.mean(gt>0)     
    strawman_cross_entropy = -(yt*np.log(yt) + (1 - yt)*np.log(1 - yt))
    
    if verbose:
        print( "logloss: {0:.5f} / {1:.5f} = {2:.5f}".format(cross_entropy, strawman_cross_entropy, cross_entropy/strawman_cross_entropy))
        print( 'mean:    {0:.5f} / {1:.5f}'.format( np.nanmean( pred ) , yt  ) )
    
    return (1.0 - cross_entropy/strawman_cross_entropy)*100.0

In [4]:
def save_memory( df ):
    features = df.columns
    for i in range( df.shape[1] ):
        if df.dtypes[i] == 'uint8':
            df[features[i]] = df[features[i]].astype( np.int8 )
            gc.collect()
        elif df.dtypes[i] == 'bool':
            df[features[i]] = df[features[i]].astype( np.int8 )
            gc.collect()
        elif df.dtypes[i] == 'uint32':
            df[features[i]] = df[features[i]].astype( np.int32 )
            gc.collect()
        elif df.dtypes[i] == 'int64':
            df[features[i]] = df[features[i]].astype( np.int32 )
            gc.collect()
        elif df.dtypes[i] == 'float64':
            df[features[i]] = df[features[i]].astype( np.float32 )
            gc.collect()

# Load Train

In [5]:
train = pd.read_parquet( 'train-1.parquet' )
test0 = pd.read_parquet( 'test-0.parquet' )
test1 = pd.read_parquet( 'test-1.parquet' )
gc.collect()

train['tr'] = 0
test0['tr'] = 1
test1['tr'] = 1

train.shape, test0.shape, test1.shape

((121386431, 25), (12434735, 25), (12434838, 25))

In [6]:
train = pd.concat( (train,test0,test1), sort=False )
gc.collect()
del test0,test1
gc.collect()

train.shape

(146256004, 25)

In [7]:
%%time
train = train.sort_values('timestamp').reset_index(drop=True) #TIME ORDER
gc.collect()

CPU times: user 1min 25s, sys: 13.3 s, total: 1min 39s
Wall time: 1min 39s

0

In [8]:
train.loc[ train.reply>0, 'reply' ] = 1
train.loc[ train.retweet>0, 'retweet' ] = 1
train.loc[ train.retweet_comment>0, 'retweet_comment' ] = 1
train.loc[ train.like>0, 'like' ] = 1

train['engage'] = 0
train.loc[ (train.reply>0)|(train.retweet>0)|(train.retweet_comment>0)|(train.like>0)  , 'engage'] = 1
gc.collect()

0

In [9]:
train.head()

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,a_following_count,a_is_verified,a_account_creation,b_user_id,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like,id,tr,engage
0,0,84383,5,0,0,2,59,1580947200,7581,1438254,268,True,1301520627,22274968,41,379,False,1259102347,False,0,0,0,0,96855085,0,0
1,0,3992746,5,473701,9,2,59,1580947200,4749,1045996,518,True,1235504861,23956872,0,64,False,1557970591,False,0,0,0,0,57701281,0,0
2,0,789758,9,0,0,2,54,1580947200,12117,71231,3819,False,1352943191,18642489,13,65,False,1524243737,False,0,0,0,0,89623685,0,0
3,0,6912703,5,141941,9,2,3,1580947200,297779,209838,204,True,1333746722,19850999,75,968,False,1306118149,False,0,0,0,0,51022269,0,0
4,0,1508672,5,0,0,2,54,1580947200,53927,161464,5531,True,1260797124,15177916,94,220,False,1321907890,False,0,0,0,1,2699787,0,1

In [10]:
save_memory(train)
gc.collect()

0

In [11]:
train.dtypes

hashtags              int32
tweet_id              int32
media                  int8
links                 int32
domains               int32
tweet_type             int8
language               int8
timestamp             int32
a_user_id             int32
a_follower_count      int32
a_following_count     int32
a_is_verified          int8
a_account_creation    int32
b_user_id             int32
b_follower_count      int32
b_following_count     int32
b_is_verified          int8
b_account_creation    int32
b_follows_a            int8
reply                 int32
retweet               int32
retweet_comment       int32
like                  int32
id                    int32
tr                    int32
engage                int32
dtype: object

In [12]:
dt0 = train[['tr','a_user_id','a_follower_count','a_following_count','timestamp','id']].copy()
dt1 = train[['tr','b_user_id','b_follower_count','b_following_count','timestamp','id']].copy()
dt1.columns = ['tr','a_user_id','a_follower_count','a_following_count','timestamp','id']
dt1['id'] = -1
dt = pd.concat( (dt0,dt1), sort=False )
del dt0,dt1; _=gc.collect()
dt.head()

   tr  a_user_id  a_follower_count  a_following_count   timestamp        id
0   0       7581           1438254                268  1580947200  96855085
1   0       4749           1045996                518  1580947200  57701281
2   0      12117             71231               3819  1580947200  89623685
3   0     297779            209838                204  1580947200  51022269
4   0      53927            161464               5531  1580947200   2699787

In [13]:
%%time
dt['a_fc_max'] = dt.groupby(['tr','a_user_id','a_follower_count'])['timestamp'].transform('max'); _=gc.collect()
dt['a_fc_min'] = dt.groupby(['tr','a_user_id','a_follower_count'])['timestamp'].transform('min'); _=gc.collect()

dt['a_fc_dif'] = dt['a_fc_max'] - dt['a_fc_min']; _=gc.collect()

dt['a_fc_dif_max'] = dt.groupby(['tr','a_user_id'])['a_fc_dif'].transform('max'); _=gc.collect()

dt['a_fc_dif_flag'] = 1* ((dt['a_fc_dif'] == dt['a_fc_dif_max']) )  ; _=gc.collect()
dt.loc[ dt.a_fc_dif==0 ,'a_fc_dif_flag'] = -1

del dt['a_fc_max'],dt['a_fc_min'],dt['a_fc_dif'],dt['a_fc_dif_max'] ; _=gc.collect()
dt['a_fc_dif_flag'].value_counts()

CPU times: user 6min 2s, sys: 42.8 s, total: 6min 45s
Wall time: 6min 45s

 1    196262061
 0     63402710
-1     32847237
Name: a_fc_dif_flag, dtype: int64

In [14]:
train['a_user_fer_count_delta_time'] = train.merge( dt, on='id', how='left' )['a_fc_dif_flag'] ; _=gc.collect()

del dt['a_fc_dif_flag'] ; _=gc.collect()

train['a_user_fer_count_delta_time'].value_counts()

 1    84461566
 0    47340973
-1    14453465
Name: a_user_fer_count_delta_time, dtype: int64

In [15]:
train.groupby(['tr','a_user_fer_count_delta_time'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                                   reply   retweet retweet_comment      like
                                    mean      mean            mean      mean
tr a_user_fer_count_delta_time
0  -1                           0.020248  0.043432        0.004040  0.203374
    0                           0.000739  0.002376        0.000192  0.008607
    1                           0.040521  0.179154        0.011767  0.708384
1  -1                           0.000000  0.000000        0.000000  0.000000
    0                           0.000000  0.000000        0.000000  0.000000
    1                           0.000000  0.000000        0.000000  0.000000

In [16]:
%%time
dt['a_fc_max'] = dt.groupby(['tr','a_user_id','a_following_count'])['timestamp'].transform('max'); _=gc.collect()
dt['a_fc_min'] = dt.groupby(['tr','a_user_id','a_following_count'])['timestamp'].transform('min'); _=gc.collect()

dt['a_fc_dif'] = dt['a_fc_max'] - dt['a_fc_min']; _=gc.collect()

dt['a_fc_dif_max'] = dt.groupby(['tr','a_user_id'])['a_fc_dif'].transform('max'); _=gc.collect()

dt['a_fc_dif_flag'] = 1* ((dt['a_fc_dif'] == dt['a_fc_dif_max']) )  ; _=gc.collect()
dt.loc[ dt.a_fc_dif==0 ,'a_fc_dif_flag'] = -1

del dt['a_fc_max'],dt['a_fc_min'],dt['a_fc_dif'],dt['a_fc_dif_max'] ; _=gc.collect()
dt['a_fc_dif_flag'].value_counts()

CPU times: user 5min 54s, sys: 42.8 s, total: 6min 36s
Wall time: 6min 36s

 1    211322540
 0     48322632
-1     32866836
Name: a_fc_dif_flag, dtype: int64

In [17]:
train['a_user_fing_count_delta_time'] = train.merge( dt, on='id', how='left' )['a_fc_dif_flag'] ; _=gc.collect()

del dt['a_fc_dif_flag'] ; _=gc.collect()

train['a_user_fing_count_delta_time'].value_counts()

 1    103337405
 0     31090824
-1     11827775
Name: a_user_fing_count_delta_time, dtype: int64

In [18]:
train.groupby(['tr','a_user_fing_count_delta_time'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                                    reply   retweet retweet_comment      like
                                     mean      mean            mean      mean
tr a_user_fing_count_delta_time
0  -1                            0.024621  0.051793        0.004836  0.244370
    0                            0.001318  0.004249        0.000348  0.015821
    1                            0.033272  0.147138        0.009664  0.581720
1  -1                            0.000000  0.000000        0.000000  0.000000
    0                            0.000000  0.000000        0.000000  0.000000
    1                            0.000000  0.000000        0.000000  0.000000

In [19]:
%%time
dt['a_fc_max'] = dt.groupby(['tr','a_user_id','a_follower_count','a_following_count'])['timestamp'].transform('max'); _=gc.collect()
dt['a_fc_min'] = dt.groupby(['tr','a_user_id','a_follower_count','a_following_count'])['timestamp'].transform('min'); _=gc.collect()

dt['a_fc_dif'] = dt['a_fc_max'] - dt['a_fc_min']; _=gc.collect()

dt['a_fc_dif_max'] = dt.groupby(['tr','a_user_id'])['a_fc_dif'].transform('max'); _=gc.collect()

dt['a_fc_dif_flag'] = 1* ((dt['a_fc_dif'] == dt['a_fc_dif_max']) )  ; _=gc.collect()
dt.loc[ dt.a_fc_dif==0 ,'a_fc_dif_flag'] = -1

del dt['a_fc_max'],dt['a_fc_min'],dt['a_fc_dif'],dt['a_fc_dif_max'] ; _=gc.collect()
dt['a_fc_dif_flag'].value_counts()

CPU times: user 6min 19s, sys: 46.5 s, total: 7min 6s
Wall time: 7min 6s

 1    181396527
 0     66142423
-1     44973058
Name: a_fc_dif_flag, dtype: int64

In [20]:
train['a_user_fering_count_delta_time'] = train.merge( dt, on='id', how='left' )['a_fc_dif_flag'] ; _=gc.collect()

del dt['a_fc_dif_flag'] ; _=gc.collect()

train['a_user_fering_count_delta_time'].value_counts()

 1    82346467
 0    47606577
-1    16302960
Name: a_user_fering_count_delta_time, dtype: int64

In [21]:
train.groupby(['tr','a_user_fering_count_delta_time'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                                      reply   retweet retweet_comment  \
                                       mean      mean            mean
tr a_user_fering_count_delta_time
0  -1                              0.018202  0.039295        0.003652
    0                              0.000494  0.001632        0.000123
    1                              0.041600  0.183938        0.012086
1  -1                              0.000000  0.000000        0.000000
    0                              0.000000  0.000000        0.000000
    1                              0.000000  0.000000        0.000000

                                       like
                                       mean
tr a_user_fering_count_delta_time
0  -1                              0.182442
    0                              0.005825
    1                              0.727258
1  -1                              0.000000
    0                              0.000000
    1                              0.000000

In [22]:
%%time
dt['a_fc_count'] = dt.groupby(['tr','a_user_id','a_following_count'])['id'].transform('count'); _=gc.collect()
dt['a_fc_max']   = dt.groupby(['tr','a_user_id'])['a_fc_count'].transform('max'); _=gc.collect()
dt['a_fc_count_flag'] = 1* ((dt['a_fc_count'] == dt['a_fc_max']))  ; _=gc.collect()
dt.loc[ dt.a_fc_count<=1,'a_fc_count_flag'] = -1

del dt['a_fc_count'], dt['a_fc_max']
dt['a_fc_count_flag'].value_counts()

CPU times: user 3min 36s, sys: 24.5 s, total: 4min
Wall time: 4min

 1    219055122
 0     41868436
-1     31588450
Name: a_fc_count_flag, dtype: int64

In [23]:
train['a_user_fing_count_mode'] = train.merge( dt, on='id', how='left' )['a_fc_count_flag'] ; _=gc.collect()
del dt['a_fc_count_flag'] ; _=gc.collect()
train['a_user_fing_count_mode'].value_counts()

 1    106413330
 0     29292845
-1     10549829
Name: a_user_fing_count_mode, dtype: int64

In [24]:
train.groupby(['tr','a_user_fing_count_mode'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                              reply   retweet retweet_comment      like
                               mean      mean            mean      mean
tr a_user_fing_count_mode
0  -1                      0.025053  0.049914        0.004816  0.222856
    0                      0.002767  0.009126        0.000868  0.037778
    1                      0.032191  0.142372        0.009304  0.563611
1  -1                      0.000000  0.000000        0.000000  0.000000
    0                      0.000000  0.000000        0.000000  0.000000
    1                      0.000000  0.000000        0.000000  0.000000

In [25]:
%%time
dt['a_fc_count'] = dt.groupby(['tr','a_user_id','a_follower_count'])['id'].transform('count'); _=gc.collect()
dt['a_fc_max']   = dt.groupby(['tr','a_user_id'])['a_fc_count'].transform('max'); _=gc.collect()
dt['a_fc_count_flag'] = 1* ((dt['a_fc_count'] == dt['a_fc_max']))  ; _=gc.collect()
dt.loc[ dt.a_fc_count<=1,'a_fc_count_flag'] = -1

del dt['a_fc_count'], dt['a_fc_max']
dt['a_fc_count_flag'].value_counts()

CPU times: user 3min 51s, sys: 25.7 s, total: 4min 17s
Wall time: 4min 17s

 1    203146666
 0     59085591
-1     30279751
Name: a_fc_count_flag, dtype: int64

In [26]:
train['a_user_fer_count_mode'] = train.merge( dt, on='id', how='left' )['a_fc_count_flag'] ; _=gc.collect()
del dt['a_fc_count_flag'] ; _=gc.collect()
train['a_user_fer_count_mode'].value_counts()

 1    87289061
 0    47080579
-1    11886364
Name: a_user_fer_count_mode, dtype: int64

In [27]:
train.groupby(['tr','a_user_fer_count_mode'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                             reply   retweet retweet_comment      like
                              mean      mean            mean      mean
tr a_user_fer_count_mode
0  -1                     0.022789  0.046336        0.004451  0.205478
    0                     0.001172  0.004023        0.000345  0.016506
    1                     0.039363  0.173680        0.011396  0.687849
1  -1                     0.000000  0.000000        0.000000  0.000000
    0                     0.000000  0.000000        0.000000  0.000000
    1                     0.000000  0.000000        0.000000  0.000000

In [28]:
%%time
dt['a_fc_count'] = dt.groupby(['tr','a_user_id','a_follower_count','a_following_count'])['id'].transform('count'); _=gc.collect()
dt['a_fc_max']   = dt.groupby(['tr','a_user_id'])['a_fc_count'].transform('max'); _=gc.collect()
dt['a_fc_count_flag'] = 1* ((dt['a_fc_count'] == dt['a_fc_max']))  ; _=gc.collect()
dt.loc[ dt.a_fc_count<=1,'a_fc_count_flag'] = -1

del dt['a_fc_count'], dt['a_fc_max']
dt['a_fc_count_flag'].value_counts()

CPU times: user 4min 15s, sys: 28.3 s, total: 4min 43s
Wall time: 4min 43s

 1    189397117
 0     60798233
-1     42316658
Name: a_fc_count_flag, dtype: int64

In [29]:
train['a_user_fering_count_mode'] = train.merge( dt, on='id', how='left' )['a_fc_count_flag'] ; _=gc.collect()
del dt['a_fc_count_flag'] ; _=gc.collect()
train['a_user_fering_count_mode'].value_counts()

 1    85155540
 0    47453340
-1    13647124
Name: a_user_fering_count_mode, dtype: int64

In [30]:
train.groupby(['tr','a_user_fering_count_mode'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

                                reply   retweet retweet_comment      like
                                 mean      mean            mean      mean
tr a_user_fering_count_mode
0  -1                        0.019990  0.041058        0.003934  0.180545
    0                        0.001066  0.003681        0.000312  0.015235
    1                        0.040303  0.177959        0.011675  0.704806
1  -1                        0.000000  0.000000        0.000000  0.000000
    0                        0.000000  0.000000        0.000000  0.000000
    1                        0.000000  0.000000        0.000000  0.000000

In [31]:
del dt; _=gc.collect()

In [32]:
train['a_count_combined'] = pd.factorize(
    (1+train['a_user_fer_count_delta_time'])*3**0 +
    (1+train['a_user_fing_count_delta_time'])*3**1 +
    (1+train['a_user_fering_count_delta_time'])*3**2 +
    (1+train['a_user_fing_count_mode'])*3**3 +
    (1+train['a_user_fer_count_mode'])*3**4 +
    (1+train['a_user_fering_count_mode'])*3**5 
)[0]
train['a_count_combined'].value_counts()

2      78746518
1      23801964
0      16748586
10      9222848
5       2171185
15      1834331
4       1254366
3       1213266
6       1148744
13       883950
12       858675
29       851647
36       717321
7        664803
21       612722
35       496340
9        485131
8        414983
22       361278
30       359131
18       295766
25       267802
27       267234
49       240921
32       188563
37       144436
23       118961
41       114718
28       107623
54        97331
16        94860
46        86903
44        83745
17        74064
24        72108
50        66234
34        63939
51        53529
19        48210
53        47556
38        46088
72        45505
11        44324
42        43461
43        42764
26        42147
56        38664
48        36448
89        29813
87        28157
31        27810
60        26811
61        22234
63        21258
57        19359
74        18958
40        18169
69        17053
47        16677
59        16108
64        16038
65        13955
45        13018
68        12871
58        12234
66        11679
52        11416
39        11213
33        10614
71         9437
101        9383
81         8757
96         7296
77         7207
85         6554
20         6540
88         6110
100        5739
67         5396
70         5391
91         4642
83         4259
14         4131
90         4068
84         3946
86         3807
76         3442
99         3387
125        2917
93         2763
78         2680
73         2665
107        2347
94         2260
97         2106
98         1947
55         1944
123        1849
95         1834
62         1790
104        1647
111        1241
121        1237
119        1130
110        1074
126         940
92          798
130         772
82          755
122         726
118         725
79          720
131         699
128         620
120         577
116         573
103         557
113         550
75          514
108         500
102         498
136         428
112         408
109         398
105         395
143         387
106         371
117         344
134         335
115         317
80          315
144         300
142         284
124         164
140         132
127         105
149          98
114          70
133          63
138          60
137          52
156          44
141          41
146          39
148          31
165          27
132          24
129          22
153          18
160          16
152          15
135          12
145          12
139          12
150           9
155           8
158           8
162           6
163           6
164           6
151           5
154           5
159           5
167           4
147           4
157           3
169           2
161           2
166           2
170           2
171           2
168           1
Name: a_count_combined, dtype: int64

In [33]:
train.loc[ train.tr==0 ].groupby('a_count_combined')[['reply','retweet','retweet_comment','like']].agg(['mean'])

                     reply   retweet retweet_comment      like
                      mean      mean            mean      mean
a_count_combined
0                 0.000134  0.000483        0.000036  0.001738
1                 0.000122  0.000366        0.000028  0.001323
2                 0.041770  0.186519        0.012111  0.736756
3                 0.005150  0.016041        0.001395  0.058424
4                 0.003689  0.014470        0.000967  0.051986
5                 0.000054  0.000196        0.000017  0.000704
6                 0.038237  0.128285        0.012932  0.545995
7                 0.029493  0.110948        0.009350  0.476620
8                 0.000804  0.002577        0.000232  0.015041
9                 0.034245  0.113368        0.010275  0.491770
10                0.028490  0.056141        0.005435  0.252894
11                0.031611  0.112540        0.010479  0.413701
12                0.000359  0.001182        0.000083  0.005582
13                0.001775  0.005154        0.000360  0.018248
14                0.000806  0.003491        0.000000  0.011010
15                0.007954  0.023228        0.002077  0.085726
16                0.005785  0.015352        0.001167  0.056703
17                0.041908  0.132300        0.010473  0.470154
18                0.000023  0.000069        0.000004  0.000359
19                0.007618  0.024021        0.001655  0.085838
20                0.001984  0.005230        0.000361  0.011001
21                0.000207  0.000661        0.000081  0.002189
22                0.000404  0.001179        0.000107  0.004773
23                0.041531  0.131387        0.011746  0.492781
24                0.003195  0.010108        0.000891  0.033520
25                0.046395  0.145951        0.012325  0.534417
26                0.000878  0.002918        0.000232  0.009992
27                0.003132  0.009383        0.000777  0.034912
28                0.001569  0.005794        0.000618  0.016950
29                0.010054  0.024944        0.002243  0.092415
30                0.000279  0.000698        0.000040  0.002297
31                0.000533  0.001864        0.000222  0.008032
32                0.000763  0.002069        0.000145  0.007729
33                0.001212  0.005696        0.000727  0.018664
34                0.001880  0.005912        0.000543  0.020392
35                0.043919  0.147046        0.011837  0.573127
36                0.036691  0.105962        0.008228  0.637334
37                0.016365  0.054062        0.004300  0.250572
38                0.001896  0.004915        0.000449  0.017513
39                0.038694  0.126076        0.010886  0.417516
40                0.023411  0.047679        0.004946  0.292997
41                0.049110  0.160447        0.013607  0.581491
42                0.011298  0.033546        0.002831  0.120189
43                0.003004  0.010957        0.001296  0.033930
44                0.000266  0.000772        0.000040  0.002860
45                0.001499  0.006083        0.000264  0.018424
46                0.000216  0.000903        0.000165  0.003332
47                0.002335  0.004871        0.000400  0.025355
48                0.025072  0.088302        0.006213  0.407433
49                0.012452  0.041834        0.002796  0.138645
50                0.007464  0.020185        0.002082  0.071676
51                0.046176  0.129427        0.011051  0.464554
52                0.002163  0.007571        0.000295  0.023992
53                0.000674  0.002652        0.000090  0.007754
54                0.000055  0.000187        0.000022  0.000627
55                0.012188  0.025594        0.003656  0.131627
56                0.006995  0.024631        0.001512  0.087853
57                0.003987  0.015585        0.001450  0.051891
58                0.032834  0.106901        0.008781  0.377971
59                0.032937  0.114605        0.008429  0.399490
60                0.003281  0.009422        0.000757  0.032725
61                0.000096  0.000383        0.000096  0.000719
62                0.002549  0.005736        0.000000  0.028681
63                0.000050  0.000404        0.000000  0.000858
64                0.043198  0.150166        0.013736  0.523490
65                0.036979  0.120903        0.010542  0.402652
66                0.002513  0.008480        0.000942  0.027219
67                0.001501  0.003001        0.000214  0.012647
68                0.001950  0.007701        0.000390  0.026808
69                0.002830  0.007475        0.000363  0.023222
70                0.000196  0.000982        0.000000  0.002553
71                0.037465  0.083606        0.008423  0.428589
72                0.000174  0.000348        0.000099  0.002185
73                0.001316  0.007459        0.000000  0.022378
74                0.002666  0.006634        0.000585  0.021852
75                0.013636  0.020455        0.000000  0.065909
76                0.027690  0.113915        0.008412  0.354364
77                0.000787  0.001416        0.000000  0.005507
78                0.058537  0.166741        0.016851  0.596896
79                0.004792  0.027157        0.001597  0.081470
80                0.000000  0.000000        0.000000  0.000000
81                0.000000  0.000000        0.000000  0.000240
82                0.001522  0.007610        0.001522  0.060883
83                0.031719  0.105248        0.009516  0.365917
84                0.001548  0.003405        0.000000  0.011142
85                0.007064  0.015655        0.001909  0.107484
86                0.030587  0.099251        0.009363  0.360799
87                0.038815  0.111546        0.010402  0.413987
88                0.022854  0.096689        0.007032  0.359801
89                0.007186  0.025509        0.001919  0.177320
90                0.001404  0.004493        0.000000  0.010110
91                0.031847  0.093758        0.008408  0.307261
92                0.019316  0.077266        0.011887  0.322437
93                0.002215  0.008418        0.000443  0.022596
94                0.008639  0.021598        0.002160  0.144168
95                0.008923  0.034417        0.003824  0.168897
96                0.000776  0.001397        0.000000  0.004812
97                0.048166  0.173508        0.012589  0.568144
98                0.048397  0.158017        0.015743  0.527114
99                0.001311  0.004261        0.000328  0.012783
100               0.000000  0.000371        0.000000  0.001484
101               0.013999  0.029915        0.003389  0.137784
102               0.002387  0.009547        0.002387  0.019093
103               0.034483  0.073276        0.004310  0.334052
104               0.001411  0.004940        0.000000  0.025406
105               0.030581  0.088685        0.018349  0.275229
106               0.000000  0.003049        0.000000  0.003049
107               0.002444  0.006354        0.000978  0.022972
108               0.002364  0.011820        0.000000  0.040189
109               0.011662  0.049563        0.002915  0.104956
110               0.002225  0.010011        0.002225  0.061179
111               0.000000  0.004386        0.000877  0.016667
112               0.036932  0.116477        0.008523  0.375000
113               0.006356  0.012712        0.000000  0.074153
114               0.016129  0.080645        0.000000  0.145161
115               0.000000  0.000000        0.000000  0.083333
116               0.008969  0.029148        0.004484  0.051570
117               0.010204  0.020408        0.003401  0.081633
118               0.034429  0.139280        0.009390  0.464789
119               0.000964  0.000000        0.000000  0.012536
120               0.003976  0.005964        0.000000  0.061630
121               0.000907  0.007260        0.000000  0.039020
122               0.000000  0.000000        0.000000  0.000000
123               0.054498  0.169402        0.013132  0.556139
124               0.000000  0.000000        0.000000  0.026490
125               0.013142  0.024293        0.003186  0.147352
126               0.003958  0.005277        0.000000  0.018470
127               0.000000  0.000000        0.000000  0.000000
128               0.005367  0.008945        0.000000  0.076923
129               0.000000  0.100000        0.050000  0.250000
130               0.006070  0.006070        0.000000  0.044006
131               0.000000  0.001541        0.000000  0.003082
132               0.000000  0.047619        0.000000  0.428571
133               0.000000  0.100000        0.000000  0.520000
134               0.014440  0.075812        0.014440  0.328520
135               0.000000  0.000000        0.000000  0.000000
136               0.015584  0.093506        0.005195  0.314286
137               0.000000  0.000000        0.000000  0.020833
138               0.000000  0.017241        0.000000  0.155172
139               0.000000  0.000000        0.000000  0.000000
140               0.000000  0.007576        0.000000  0.030303
141               0.029412  0.058824        0.000000  0.411765
142               0.046512  0.172093        0.037209  0.418605
143               0.000000  0.000000        0.000000  0.000000
144               0.000000  0.007605        0.000000  0.038023
145               0.000000  0.000000        0.000000  0.000000
146               0.000000  0.000000        0.000000  0.000000
147               0.000000  0.000000        0.000000  0.250000
148               0.000000  0.037037        0.000000  0.000000
149               0.000000  0.000000        0.000000  0.070588
150               0.000000  0.000000        0.000000  0.250000
151               0.000000  0.000000        0.000000  0.250000
152               0.000000  0.000000        0.000000  0.384615
153               0.000000  0.000000        0.000000  0.000000
154               0.250000  0.000000        0.000000  0.000000
155               0.000000  0.000000        0.000000  0.000000
156               0.023810  0.000000        0.000000  0.023810
157               0.000000  0.333333        0.000000  0.333333
158               0.000000  0.000000        0.000000  0.000000
159               0.000000  0.200000        0.000000  0.600000
160               0.000000  0.000000        0.000000  0.000000
161               0.000000  0.000000        0.000000  0.000000
162               0.000000  0.000000        0.000000  0.000000
163               0.000000  0.200000        0.000000  0.600000
164               0.000000  0.000000        0.000000  0.500000
165               0.000000  0.000000        0.000000  0.080000
166               0.000000  0.000000        0.000000  0.500000
167               0.000000  0.500000        0.500000  0.500000
168               0.000000  0.000000        0.000000  1.000000
169               0.000000  0.500000        0.000000  0.500000
170               0.000000  0.000000        0.000000  1.000000
171               0.000000  0.000000        0.000000  0.000000

In [34]:
train.head()

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,a_following_count,a_is_verified,a_account_creation,b_user_id,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like,id,tr,engage,a_user_fer_count_delta_time,a_user_fing_count_delta_time,a_user_fering_count_delta_time,a_user_fing_count_mode,a_user_fer_count_mode,a_user_fering_count_mode,a_count_combined
0,0,84383,5,0,0,2,59,1580947200,7581,1438254,268,1,1301520627,22274968,41,379,0,1259102347,0,0,0,0,0,96855085,0,0,0,1,0,1,0,0,0
1,0,3992746,5,473701,9,2,59,1580947200,4749,1045996,518,1,1235504861,23956872,0,64,0,1557970591,0,0,0,0,0,57701281,0,0,0,1,0,1,0,0,0
2,0,789758,9,0,0,2,54,1580947200,12117,71231,3819,0,1352943191,18642489,13,65,0,1524243737,0,0,0,0,0,89623685,0,0,0,0,0,0,0,0,1
3,0,6912703,5,141941,9,2,3,1580947200,297779,209838,204,1,1333746722,19850999,75,968,0,1306118149,0,0,0,0,0,51022269,0,0,0,1,0,1,0,0,0
4,0,1508672,5,0,0,2,54,1580947200,53927,161464,5531,1,1260797124,15177916,94,220,0,1321907890,0,0,0,0,1,2699787,0,1,1,1,1,1,1,1,2

In [35]:
dt = train[['id','a_count_combined','a_user_fer_count_delta_time','a_user_fing_count_delta_time','a_user_fering_count_delta_time','a_user_fing_count_mode','a_user_fer_count_mode','a_user_fering_count_mode']]
dt = dt.sort_values( 'id' )
dt = dt.reset_index( drop=True )
save_memory( dt )
dt.to_parquet( 'a_count_combined-final.parquet' )
dt.tail(50)

,id,a_count_combined,a_user_fer_count_delta_time,a_user_fing_count_delta_time,a_user_fering_count_delta_time,a_user_fing_count_mode,a_user_fer_count_mode,a_user_fering_count_mode
146255954,146255954,2,1,1,1,1,1,1
146255955,146255955,2,1,1,1,1,1,1
146255956,146255956,10,-1,-1,-1,-1,-1,-1
146255957,146255957,0,0,1,0,1,0,0
146255958,146255958,0,0,1,0,1,0,0
146255959,146255959,2,1,1,1,1,1,1
146255960,146255960,25,0,1,1,1,1,1
146255961,146255961,2,1,1,1,1,1,1
146255962,146255962,10,-1,-1,-1,-1,-1,-1
146255963,146255963,0,0,1,0,1,0,0
146255964,146255964,0,0,1,0,1,0,0
146255965,146255965,2,1,1,1,1,1,1
146255966,146255966,0,0,1,0,1,0,0
146255967,146255967,2,1,1,1,1,1,1
146255968,146255968,10,-1,-1,-1,-1,-1,-1
146255969,146255969,10,-1,-1,-1,-1,-1,-1
146255970,146255970,29,1,-1,-1,-1,1,-1
146255971,146255971,2,1,1,1,1,1,1
146255972,146255972,2,1,1,1,1,1,1
146255973,146255973,2,1,1,1,1,1,1
146255974,146255974,2,1,1,1,1,1,1
146255975,146255975,25,0,1,1,1,1,1
146255976,146255976,2,1,1,1,1,1,1
146255977,146255977,2,1,1,1,1,1,1
146255978,146255978,2,1,1,1,1,1,1
146255979,146255979,10,-1,-1,-1,-1,-1,-1
146255980,146255980,2,1,1,1,1,1,1
146255981,146255981,1,0,0,0,0,0,0
146255982,146255982,2,1,1,1,1,1,1
146255983,146255983,0,0,1,0,1,0,0
146255984,146255984,2,1,1,1,1,1,1
146255985,146255985,10,-1,-1,-1,-1,-1,-1
146255986,146255986,35,1,0,1,1,1,1
146255987,146255987,0,0,1,0,1,0,0
146255988,146255988,2,1,1,1,1,1,1
146255989,146255989,2,1,1,1,1,1,1
146255990,146255990,10,-1,-1,-1,-1,-1,-1
146255991,146255991,0,0,1,0,1,0,0
146255992,146255992,2,1,1,1,1,1,1
146255993,146255993,2,1,1,1,1,1,1
146255994,146255994,0,0,1,0,1,0,0
146255995,146255995,10,-1,-1,-1,-1,-1,-1
146255996,146255996,15,-1,1,-1,1,-1,-1
146255997,146255997,2,1,1,1,1,1,1
146255998,146255998,2,1,1,1,1,1,1
146255999,146255999,2,1,1,1,1,1,1
146256000,146256000,0,0,1,0,1,0,0
146256001,146256001,2,1,1,1,1,1,1
146256002,146256002,2,1,1,1,1,1,1
146256003,146256003,2,1,1,1,1,1,1